<!DOCTYPE html>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<title>Настройка фортепиано</title>
	<link rel="stylesheet" href="vendor/normalize.css">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="shortcut icon" href="favicon.ico">

</head>

<body>
	<header class="main-header">

		<div class="container fix-footer clearfix">
			<div class="logo">
				<span>Лого</span>			
			</div>
		</div>
		
	</header>

	<div id="button-up">
        	<span>Наверх</span>
	</div>

	<main class="container fix-footer clearfix">

		<aside class="sidebar">
			<div class="sidebar-block">
				<ul class="item-option">
					<li class="select-option-list">
						<b class="info-list-heading">Местоположение:</b>

						<div class="select">
							<select>
								<option>Воронеж</option>
								<option>Москва</option>
								<option>Курск</option>
								<option>Белгород</option>
								<option>Липецк</option>
								<option>Санкт-Петербург</option>
							</select>
							<div class="select__arrow"></div>
						</div>
					</li>

					<li class="select-option-list">
						<b class="info-list-heading">Услуга:</b>

						<div class="select">
							<select>
								<option>Настройка и ремонт</option>
								<option>Транспортировка</option>
								<option>Частные уроки</option>
								<option>Исполнитель</option>
							</select>
							<div class="select__arrow"></div>
						</div>
					</li>

					<li class="select-radio-element">
						<label class="control radio_st">Все
							<input type="radio" name="radio2" checked="checked">
							<div class="gird_input"></div>
						</label>
					  	
						<label class="control radio_st">Избранные
							<input type="radio" name="radio2" disabled="disabled">
							<div class="gird_input"></div>
						</label>
					</li>
				</ul>	
			</div>
		</aside>

		<section class="main-content">
			<h1 class="custom-title">Настройка фортепиано</h1>

			<section class="specialist-card clearfix" data-favorites="off">
				<h2 class="card-title">Виталий: Настройка пианино Воронеж</h2>
				<div class="avatar">
					<img src="img/no-photo.svg" alt="Фотография отсутствует">
				</div>
				<p>Настройщик с большим опытом осуществляет настройку пианино и роялей в Воронеже. Бесплатные консультации. Гарантия. Производится настройка и ремонт других музыкальных инструментов.</p>

				<p>Цена: от 2500 руб. Тел.:+7 982 111 22 88</p>

				<div class="card-buttons">	
					<a href="#" class="card-btn" data-type="favorites">Избранное</a>
					<a href="#" class="card-btn">Подробнее</a>
				</div>
			</section>

			<section class="specialist-card clearfix" data-favorites="off">
				<h2 class="card-title">Сергей Григорьевич: Ремонт, настройка пианино и роялей</h2>
				<div class="avatar">
					<img src="img/no-photo.svg" alt="Фотография отсутствует">
				</div>
				<p>Квалифицированный мастер по ремонту и настройке пианино и роялей в ДШИ г. Воронежа. Стаж работы более 30 лет. Произвожу настройку, регулировку, ремонт. Возможен выезд вместе с заказчиком для консультации...</p>

				<p>Настройка пианино: 1700 руб.</p>

				<div class="card-buttons">	
					<a href="#" class="card-btn" data-type="favorites">Избранное</a>
					<a href="#" class="card-btn">Подробнее</a>
				</div>
			</section>

			<section class="specialist-card clearfix" data-favorites="off">
				<h2 class="card-title">Анатолий Герц: Настройка пианино и роялей</h2>
				<div class="avatar">
					<img src="img/no-photo.svg" alt="Фотография отсутствует">
				</div>
				<p>Настройка пианино и роялей,а также ремонт любой сложности,изготовление басовых струн,помощ при покупке инструмента.Работаю настройщиком роялей в театре оперы и балета и в колледже им.Растроповичей.</p>

				<p>Тел.:+7 984 111 22 86</p>

				<div class="card-buttons">	
					<a href="#" class="card-btn" data-type="favorites">Избранное</a>
					<a href="#" class="card-btn">Подробнее</a>
				</div>
			</section>

			<section class="specialist-card clearfix" data-favorites="off">
				<h2 class="card-title">Виталий: Настройка пианино Воронеж</h2>
				<div class="avatar">
					<img src="img/no-photo.svg" alt="Фотография отсутствует">
				</div>
				<p>Настройщик с большим опытом осуществляет настройку пианино и роялей в Воронеже. Бесплатные консультации. Гарантия. Производится настройка и ремонт других музыкальных инструментов.</p>

				<p>Цена: от 2500 руб. Тел.:+7 986 111 22 84</p>

				<div class="card-buttons">	
					<a href="#" class="card-btn" data-type="favorites">Избранное</a>
					<a href="#" class="card-btn">Подробнее</a>
				</div>
			</section>

			<section class="specialist-card clearfix" data-favorites="off">
				<h2 class="card-title">Сергей Григорьевич: Ремонт, настройка пианино и роялей</h2>
				<div class="avatar">
					<img src="img/no-photo.svg" alt="Фотография отсутствует">
				</div>
				<p>Квалифицированный мастер по ремонту и настройке пианино и роялей в ДШИ г. Воронежа. Стаж работы более 30 лет. Произвожу настройку, регулировку, ремонт. Возможен выезд вместе с заказчиком для консультации...</p>

				<p>Настройка пианино: 1700 руб.</p>

				<div class="card-buttons">	
					<a href="#" class="card-btn" data-type="favorites">Избранное</a>
					<a href="#" class="card-btn">Подробнее</a>
				</div>
			</section>

			<section class="specialist-card clearfix" data-favorites="off">
				<h2 class="card-title">Анатолий Герц: Настройка пианино и роялей</h2>
				<div class="avatar">
					<img src="img/no-photo.svg" alt="Фотография отсутствует">
				</div>
				<p>Настройка пианино и роялей,а также ремонт любой сложности,изготовление басовых струн,помощ при покупке инструмента.Работаю настройщиком роялей в театре оперы и балета и в колледже им.Растроповичей.</p>

				<p>Тел.:+7 988 111 22 82</p>

				<div class="card-buttons">	
					<a href="#" class="card-btn" data-type="favorites">Избранное</a>
					<a href="#" class="card-btn">Подробнее</a>
				</div>
			</section>														

			<!-- Пагинация -->
			<section class="content-pagination">
				<ul class="pagination">
					<li><a href="#">«</a></li>
					<li><a href="#">1</a></li>
					<li><a class="active" href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">...</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">»</a></li>
				</ul>
			</section>
		</section>

	</main>

	<footer class="main-footer clearfix">
		<span class="copyright">&copy; Копирайт текст</span>
		<span class="social">Пиктограммы соцсетей (иконки)</span>
	</footer>

	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script>window.jQuery || document.write('<script src="vendor/jquery-1.12.0.min.js"><\/script>')</script>

	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="js/script.js"></script>

</body>
</html>      